@import 'mui';

.container {
  @extend .mui-container-fluid;
  width: 960px;
  margin-bottom: 20px;
}

.mui-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  &__title {
    color: inherit;
  }
}

.card {
  transition: box-shadow 1s;
  border-radius: 2px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 20px;

  &:hover {
    @extend .mui--z3;
  }

  &__image {
    width: 100%;
  }

  &__content {
    padding: 0 16px 16px;
  }
}

.post {
  &__meta {
    margin-bottom: 20px;

    &__time {
      @extend .mui--text-dark-secondary;
      margin-right: 10px;
    }
  }
}
